*{
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 400px;
	margin: 0 auto;


}


.container{
	
	
	padding: 20px;
	background-color: #F7F9F9  ;
	box-shadow: ; /**derecha en diagonal abajo**/

}
.flex{
	display: flex;
}
.flex-row{
	flex-direction: row;
	gap: 5px;
	place-content: center;
}
nav{
	background: #9E5C68;
	padding: 25px;
	justify-content: space-between;

}

.gap{
	gap: 15px;
}


.btn-group{
	justify-content: space-evenly;
	padding: 5px;
	margin-bottom: 10px;
}
button{
	text-transform: uppercase;
	font-size: 15px;
	background-color: #B64663;
	padding: 15px;
	border-radius: 25px;
	cursor: pointer;
	border: none;
	box-shadow: ; /**llenar despues**/

}

	button a {
		text-decoration: none;
		color: #FFF;	
		font-weight: bold;
	}

.circles{
	justify-content: space-between;
}
.destacado img{
	width: 100px;
	height: 100px;
	border-radius: 100%;

}	

.main-cards{
	width: 350px;
	height: ;
	border-radius: 0px 0 25px 25px;
	background-color: lightpink;
	margin-bottom: 25px;
}
.card-img{
	overflow: hidden;
	height: 400px;
	border-radius: 0 0 25px 25px;
}
.card img{
	width: 350px;
}
.padding{
	padding: 25px;
}
.social{
	justify-content: space-between;
}

.nav-mobible{
	/*jsjs*/
	background-color: #9E5C68;
	position: fixed;
	bottom: 0;
	width: 400px;
}

.nav-ul{
	
	list-style-type: none;
	justify-content: space-between;
	width: 100%;
	padding-left: 0;

}

li{
	color:blak ;
	cursor: pointer;
	
}

.material-symbols-outlined.md-35{
	font-size: 35px;
}

